.DessertItensTable {
	width: 80%;
	margin: 0 auto;
}

.Dessert1ImageText
.Dessert2ImageText,
.Dessert3ImageText {
	font-family: inherit;
	font-size: 20px;	
}

.DessertDescription {
	text-align: center;
	
}

.material-icons.addShoppingCart {
	font-size: 60px;
}