body {
	font-family: 'Roboto Mono', monospace;
}

.w3-content.w3-section
{
	align-items: center;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.divPaymentChoiceTable,
.divPaymentDataTable {
	width: 80%;;
	margin: 0 auto;
}

.PaymentsChoiceTable,
.PaymentsDataTable {
	width: 100%;;
	margin: 0 auto;
	text-align: center;
}

.PaymentHeaderContent {
	width: 80%;;
	margin: 0 auto;
	text-align: left;
}

.tdInpUserName input, .tdInpUserLastName input,
.tdInpUserAdress input {
	width: 95%;	
} 

.tdInpUserCEPCode input {
	width: 18%;
}

.PaymentsChoiceTable {
	background-color: #f0f0f0;
}

.PaymentsChoiceTable {
	margin: 5% auto 0 auto;
}

.paymenTableTitle {
	text-align: right;
}

.paymenTableContent{
	text-align: left;	
}

buttonsDiv {
	width: 80%;;
	margin: 0 auto;
	padding-top: 2%;
}

.buttonsDiv button{
	background-color: #8FB171; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}