.SaladItensTable {
	width: 80%;
	margin: 0 auto;
}

.SaladImageText,
.priceProduct {
	font-family: inherit;
	font-size: 20px;	
}

.SaladDescription {
	text-align: center;
	
}

.material-icons.addShoppingCart {
	font-size: 60px;
}

.priceProduct {
	text-align: center;
}